.header {
    padding: 20px;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.branding {
    h1 {
        font-weight: bold;
    }
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 10px;

    ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}