.header {
    position: fixed;
    inset: 0;
    bottom: unset;
    height: 100px;
    z-index: 40;

    .background {
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        z-index: -1;
    }
    .foreground {
        position: relative;

        .container {
            width: 100%;
            max-width: var(--container-width);
            margin: auto;
            padding: 30px;
            display: flex;
            flex-direction: row;
            gap: 25px;
            align-items: center;
            justify-content: space-between;
            
            .branding {
                h1 {
                    font-size: 1.25rem;
                    font-weight: 900;

                    span {
                        font-weight: 100;
                        opacity: 0.6;
                    }
                }
            }
            .mobileMenu {
                display: block;
            }
            .menu {
                display: none;
                flex-direction: row;
                gap: 25px;
            
                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 25px;
                }
                a {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }
            }
        }
    }
}

@media (min-width: 768px) { 
    .header {

        .foreground {

            .container {

                .mobileMenu {
                    display: none;
                }
                .menu {
                    display: flex;
                }
            }
        }
    }
}