.screen {
    position: relative;
    height: 100svh;
    overflow: auto;

    .foreground {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: var(--header-height);

        .container {
            width: 100%;
            min-height: 100%;
            max-width: var(--container-width);
            margin: auto;
            padding: 30px;

            h1 {
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 1rem;
            }
            
            .movies {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 2rem;
            }
        }
    }
}

