.container {
    position: relative;
    height: 100svh;
    overflow: auto;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .background {
        position: absolute;
        inset: 0;
        background-size: cover;
        opacity: 0.2;
    }

    .movie {
        position: relative;
    }
}

.movie {
    display: flex;
    gap: 2rem;

    .cover {
        img {
            width: 800px;
        }
    }
    .info {

    }
    .title {
        font-size: 2rem;
        margin: 0;
    }
    .meta {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding-top: 1rem;

        span {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
    .overview {
        padding-top: 1rem;
    }
}
  